.hide {
    display: none;
    visibility: hidden;
}

/* Full-width input fields */

input[type=text], input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 4px 0 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    resize: horizontal;
    float: left;
}

/* Set a style for all buttons */

button {
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Float logIn and signUp buttons and add an equal width */

#btnLogIn, #btnSignUp {
    margin: 8px 5%;
    float: left;
    width: 40%;
}

/* Float logIn and signUp buttons and add an equal width */

#btnLogOut, #btnSignInGithub, #btnSignInGoogle {
    margin: 8px 30%;
    float: left;
    width: 40%;
}

/* Add padding to container elements */

.container {
    padding: 20px;
}

form {
    background-color: #f2f2f2;
}
/* Clear floats */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */

@media screen and (max-width: 300px) {
    #btnLogIn, #btnSignUp {
        margin: 8px 0;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    #btnLogOut, #btnSignInGithub, #btnSignInGoogle {
        margin: 8px 0;
        width: 100%;
    }
}
