.OpenProject form {
    background-color: #f2f2f2;
}

.OpenProject form>button {
    margin: 10px auto;
    border: none;
    cursor: pointer;
    width: auto;
}

.OpenProject .row {
    background: #f2f2f2;
    width: 75vw;
    margin: 20px auto;
    border: thin solid #d4d4d4;
    border-radius: 5px;
    padding: 10px;
}

.OpenProject .img {
    width: 150px;
    height: 150px;
}

.OpenProject .reply,
.OpenProject .User-bg {
    background-color: #333333;
}

.OpenProject .subscribe-row {
    background-color: #222222;
}

.OpenProject .table-head {
    background-color: #333333;
}