* {
    /* border: thin red solid; */
}

.SignIn {
    margin-top: -64px;
    min-height: 100vh;
}

.hide {
    display: none;
    visibility: hidden;
}


/* Full-width input fields */

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 90%;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
}


/* Set a style for all buttons */

.login>button {
    padding: 14px 20px;
    margin: 10px auto;
    border: none;
    cursor: pointer;
    width: 100%;
}

.login {
    background: white;
    width: auto;
    /* max-width: 415px; */
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
}


/* Float logIn and signUp buttons and add an equal width */

#btnLogIn,
#btnSignUp {
    vertical-align: middle;
    width: auto;
    margin: 5px auto 20px;
}

#btnSignInGithub,
#btnSignInGoogle,
#btnSignInFacebook {
    width: 85%;
    margin: 5px auto;
}


/* Float logIn and signUp buttons and add an equal width */

form {
    background-color: #f2f2f2;
}