* {
    /* border: thin red solid; */
}

.SignIn {
    min-height: 100vh;
}

.valign-wrapper {
    margin-top: -100px;
}

.hide {
    display: none;
    visibility: hidden;
}


/* Set a style for all buttons */

.login>button {
    margin: 10px auto;
    border: none;
    cursor: pointer;
    width: auto;
}

.login {
    background: #f2f2f2;
    width: auto;
    margin: 20px auto;
    border: thin solid #d4d4d4;
    border-radius: 5px;
    padding: 10px;
}


/* Float logIn and signUp buttons and add an equal width */

#btnLogIn,
#btnSignUp {
    vertical-align: middle;
    width: auto;
    margin: 5px auto 20px;
}

#btnSignInGithub,
#btnSignInGoogle,
#btnSignInFacebook {
    width: 85%;
    margin: 5px auto;
}